/beautyjournals/.idea
/beautyjournals/out
/beautyjournals/beautyjournal/bin
/beautyjournals/beautyjournal/gen
/beautyjournals/beautyjournal/.project
/beautyjournals/beautyjournal/.classpath
/actionbarsherlock_librarys/.idea
/actionbarsherlock_librarys/out
/actionbarsherlock_librarys/actionbarsherlock_library/gen
/actionbarsherlock_librarys/actionbarsherlock_library/bin
/actionbarsherlock_librarys/actionbarsherlock_library/.classpath
/actionbarsherlock_librarys/actionbarsherlock_library/.project
/actionbarsherlock_librarys/actionbarsherlock_library/actionbarsherlock_library.iml
/beautyjournals/beautyjournal/beautyjournal.iml
